html,
body {
  height: 100%;
  margin: 0;
  font-family: "Gellion", sans-serif;
  background-color: #f1f3fa;
  overflow-x: hidden; /* Evitar scroll horizontal no deseado */
}

body {
  display: flex;
  flex-direction: column;
}

.container-principal {
  flex: 1; /* Hace que el contenedor ocupe el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.card-custom {
  max-width: 800px;
  width: 100%;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-footer-custom {
  padding: 0;
  border-top: 0;
  background-color: transparent;
  margin-top: 15px; /* Añadir espacio entre el contenido y el pie de página */
  position: relative; /* Asegura que se mantenga en el flujo del documento */
}

.product-grid,
.pagination-message {
  display: none;
}

.active-page {
  display: block;
}

.product-card {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 12px;
  text-align: left;
  margin-bottom: 15px;
}

.product-icon img {
  width: 35px;
  height: 35px;
  margin-bottom: 8px;
}

.product-details p {
  margin: 0;
  font-size: 0.875rem;
  color: #333;
}

.debt {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #333;
}

.pagination .page-link {
  color: #007bff;
  background-color: transparent;
  border: none;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.pagination .page-item.active .page-link {
  font-weight: bold;
  color: #fff;
}

.btn-link-back {
  font-size: 1rem !important;
}

.central-content {
  padding: 0 20px;
}

.central-content h5 {
  color: #007bff;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.central-content p {
  font-size: 0.875rem;
}

.card-body-custom {
  padding: 0 !important;
}

.card-footer-custom {
  padding: 0;
  border-top: 0;
  background-color: transparent;
  position: relative;
}

.text-p-Deuda-rigth {
  text-align: right;
  font-size: 0.875rem;
  margin: 0;
}

.text-p-Deuda-left {
  font-size: 0.875rem;
  margin: 0;
}

.card-header-custom {
  border-bottom: 0;
  padding: 5px;
}

.btn-block-custom {
  width: 100%;
  font-size: 0.875rem;
  margin-top: 1.5rem;
  background: linear-gradient(to bottom, #4da6ff, #0056b3);
  color: white;
  border: none;
  transition: box-shadow 0.3s ease;
}

.btn-block-custom:hover {
  box-shadow: 0px 4px 10px rgba(0, 86, 179, 0.5);
}

.img-6-1 {
  width: 100% !important;
  height: auto !important;
  border-radius: 8px;
}

.capa-trasparent {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  margin-top: -120px;
}

.text-p-Deuda-left-trasparent {
  font-size: 0.8rem !important;
  margin: 0 10px;
  line-height: 1.2rem;
}

.btn-block-custom-trasparent {
  width: 100%;
  font-size: 0.875rem;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.btn-block-custom-trasparent:hover {
  border-color: blue;
  background-color: white;
  color: black;
}

.morado {
  color: #7552cc !important;
}

.btn-block-custom-trasparent-2 {
  margin-top: 0 !important;
}

/* Media Queries para pantallas pequeñas */
@media (min-width: 1400px) {
  .form-container {
    max-width: 500px;
    padding: 40px;
  }

  h2 {
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
  }

  label {
    font-size: 0.9em;
  }

  input[type="text"],
  select {
    font-size: 1em;
    padding: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .form-container {
    max-width: 450px;
    padding: 35px;
  }

  h2 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.95em;
  }

  input[type="text"],
  select {
    padding: 12px;
    font-size: 0.95em;
  }
}

@media (max-width: 767px) {
  .form-container {
    max-width: 100%;
    padding: 20px;
  }

  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.85em;
    padding-left: 20px;
    padding-right: 20px;
  }

  label {
    font-size: 0.75em;
  }

  input[type="text"],
  select {
    padding: 10px;
    font-size: 0.85em;
  }

  .checkbox-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    flex-direction: column;
    gap: 15px;
  }
}
