body {
    background-color: #f0f4ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Gellion", sans-serif;
}

.container-main {
    max-width: 800px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon {
    width: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.btn-custom {
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(to bottom, #4da6ff, #0056b3);
    padding: 8px;
}

.d-flex{
    margin: 0 40px !important;
}

.btn-custom:hover {
    box-shadow: 0px 4px 10px rgba(0, 86, 179, 0.5);
}

.btn-outline-primary{
    border-color: #888 !important;
    background: transparent !important;
    color: #888;
}

.btn-outline-primary:hover{
    background-color: transparent !important;
    color: #888;
    box-shadow: none !important;
}

p{
    font-size: 20px;
    padding: 0px 80px;
    color: #888;
}
