body {
  font-family: "Gellion", sans-serif;
  background-color: #f1f3fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.logo-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0994dc;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: min-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

.logo-border img {
  width: 20px;
  padding: 5px;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
  font-size: 0.9em;
  padding-left: 30px;
  padding-right: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 0.8em;
  font-weight: 600;
  text-align: left !important;
  padding-left: 10px;
}

input[type="text"],
select {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  align-items: center;
}

#tipo-documento {
  width: 95%;
  padding-right: 30px;
}

input::placeholder {
  color: #999;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  margin-top: -2px;
}

.checkbox-container label {
  color: #333;
}

.checkbox-container a {
  color: #0994dc;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.cancel-btn,
.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
}

.cancel-btn {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #0056b3;
}

.submit-btn {
  background-color: #0056b3;
  color: #fff;
  border: 2px solid #0056b3;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.submit-btn:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  border: 2px solid #c0c0c0;
  cursor: not-allowed;
}

.cancel-btn:hover {
  background-color: #e0e0e0;
}

/* Cambiar el color de fondo del día seleccionado */
.pika-button.pika-selected {
  background-color: #0056b3 !important;
  color: #ffffff !important; /* Asegúrate de que el texto sea legible */
}

/* Cambiar el color del borde del día seleccionado */
.pika-button.pika-selected,
.pika-button.pika-selected:hover {
  border-color: #0056b3 !important;
}

/* Cambiar el color de fondo del día en hover */
.pika-button:hover {
  background-color: rgba(
    0,
    86,
    179,
    0.2
  ) !important; /* Azul tenue, casi transparente */
  border-color: #0056b3 !important; /* Opcional: Color del borde en hover */
}

/* Asegúrate de que el texto del día en hover sea legible */
.pika-button:hover,
.pika-button.pika-selected {
  color: #0056b3 !important;
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.8em;
    padding-left: 20px;
    padding-bottom: 0;
  }

  label {
    font-size: 0.7em;
  }

  input[type="text"],
  select {
    padding: 8px;
  }
}

@media (max-width: 300px) {
  h2 {
    font-size: 1em;
  }

  p {
    font-size: 0.7em;
    padding-left: 10px;
  }

  label {
    font-size: 0.6em;
  }

  input[type="text"],
  select {
    padding: 8px;
  }
}
