html,
body {
  height: 100%;
  margin: 0;
  font-family: "Gellion", sans-serif;
  background-color: #f1f3fa;
  overflow-x: hidden; /* Evitar scroll horizontal no deseado */
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: white;
  padding: 20px 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0; /* Añade margen para que no toque los bordes */
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  overflow-y: auto; /* Scroll dentro del formulario si el contenido es muy grande */
}

.footer {
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0994dc;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: min-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

.logo-border img {
  width: 20px;
  padding: 5px;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
  font-size: 0.9em;
  padding-left: 30px;
  padding-right: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 0.8em;
  font-weight: 600;
  text-align: left !important;
  padding-left: 10px;
}

input[type="text"],
select {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  align-items: center;
}

#tipo-documento {
  width: 95%;
  padding-right: 30px;
}

input::placeholder {
  color: #999;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  margin-top: -2px;
}

.checkbox-container label {
  color: #333;
}

.checkbox-container a {
  color: #0994dc;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.cancel-btn,
.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
}

.cancel-btn {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #0056b3;
}

.submit-btn {
  background-color: #0056b3;
  color: #fff;
  border: 2px solid #0056b3;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.submit-btn:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  border: 2px solid #c0c0c0;
  cursor: not-allowed;
}

.cancel-btn:hover {
  background-color: #e0e0e0;
}

@media (min-width: 1400px) {
  .form-container {
    max-width: 500px;
    padding: 40px;
  }

  h2 {
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
  }

  label {
    font-size: 0.9em;
  }

  input[type="text"],
  select {
    font-size: 1em;
    padding: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .form-container {
    max-width: 450px;
    padding: 35px;
  }

  h2 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.95em;
  }

  input[type="text"],
  select {
    padding: 12px;
    font-size: 0.95em;
  }
}

@media (max-width: 767px) {
  .form-container {
    max-width: 100%;
    padding: 20px;
  }

  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.85em;
    padding-left: 20px;
    padding-right: 20px;
  }

  label {
    font-size: 0.75em;
  }

  input[type="text"],
  select {
    padding: 10px;
    font-size: 0.85em;
  }

  .checkbox-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    flex-direction: column;
    gap: 15px;
  }
}
